@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.fundo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eef9bf;
    width: 1110px;
    height: 629px;
}
h1{
    font-family: Roboto, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    color: #75B79E;
    margin-bottom: 41px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.carta{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 146px;
    border-radius: 5px;
    margin: 17px 17px;
    cursor: pointer;

    transition: all .5s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
.frente{
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}
.frente-fixa{
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}

.verso{
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
}
.verso img:nth-child(1){
    display: none;
}
.frente img:nth-child(2){
    display: none;
}

.imagem-carta{
    width: 100px;
}